{% extends "base.html" %} {% block title %}Weather{% endblock %} {% import
    "bootstrap/utils.html" as utils %} {% block main%}
<head>
    <title>Pogoda</title>
    <style>
        .cooco{
            background-color: white;
        }
    </style>
</head>

<body>

    <div class="container-md mt-4">
        <h1 class="text-center mb-4">Prognoza Pogody</h1>
        <div class="row ">
            <form method="post" action="/weather">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="city1" placeholder="Wpisz miasto 1" {% if data[0] is defined %} value="{{data[0].city}}" {% endif %} aria-label="Recipient's username" aria-describedby="button-addon2">
                    <input type="text" class="form-control" name="city2" placeholder="Wpisz miasto 2" {% if data[1] is defined %} value="{{data[1].city}}" {% endif %} aria-label="Recipient's username" aria-describedby="button-addon2">
                    <input type="text" class="form-control" name="city3" placeholder="Wpisz miasto 3" {% if data[2] is defined %} value="{{data[2].city}}" {% endif %} aria-label="Recipient's username" aria-describedby="button-addon2">
                    <input type="text" class="form-control" name="city4" placeholder="Wpisz miasto 4" {% if data[3] is defined %} value="{{data[3].city}}" {% endif %} aria-label="Recipient's username" aria-describedby="button-addon2">
                    <input type="text" class="form-control" name="city5" placeholder="Wpisz miasto 5" {% if data[4] is defined %} value="{{data[4].city}}" {% endif %} aria-label="Recipient's username" aria-describedby="button-addon2">
                    <input type="submit" class="btn btn-outline-secondary" id="button-addon2" value="Szukaj"></input>
                  </div>
            </form>
        </div>
        {% for i in range(data | length) %}
        <div class="container mt-4 border border-3 border-secondary rounded border-dashed p-3">
            {% if data[i] %}
            <div class="row">
                
                <div class="col-xl-3 ">
                    <div class="row-10 d-flex justify-content-center align-items-center flex-column">
                        <div class="col--2 d-flex justify-content-center align-items-center flex-column">
                            <h4 class="card-title">{{ data[i].city }}, {{ data[i].country }}</h4>
                            <img src="http://openweathermap.org/img/wn/{{ data[i].icon }}@2x.png" alt="Weather icon">
                            <p>{{ data[i].description }}</p>
                        </div>
                        <div class="col-md-10 col--2 d-flex justify-content-center align-items-center flex-column">
                            <p><strong>Temperatura:</strong> {{ data[i].temp }}°C </p>
                            <p><strong>Temp. odczuwalna:</strong> {{ data[i].feeltemp }}°C </p>
                            <p><strong>Wilgotność:</strong> {{ data[i].humidity }}%</p>
                            <p><strong>Ciśnienie:</strong> {{ data[i].pressure }} hPa</p>
                            {% if data[i].rain %}<p><strong>Deszcz:</strong> {{ data[i].rain }} mm</p>{% endif %}
                            {% if data[i].snow %}<p><strong>Śnieg:</strong> {{ data[i].snow }} mm</p>{% endif %}
                        </div>
                </div>
                </div>
                {% if forecast[i] %}
                <div class="col-9">
                    {% if forecast[i][0] %}
                    <div class="row">
                        <h2>W ciągu dnia</h2>
                    {% for hour in forecast[i][0] %}
                        <div class="col-12 col-lg-3 mb-4">
                            <div class="card" data-bs-toggle="collapse" data-bs-target="#daily_forecast{{i}}{{ loop.index }}" aria-expanded="false" aria-controls="forecast{{ loop.index }}">
                                <div class="card-body text-center">
                                    <h5 class="card-title">{{ hour.time[11:16] }}</h5>
                                    <img src="http://openweathermap.org/img/wn/{{ hour.icon }}@2x.png" alt="Weather icon">
                                    <p>{{hour.temp}}&degC</p>
                                </div>
                            </div>
                            <div class="collapse" id="daily_forecast{{i}}{{ loop.index }}">
                                <div class="card card-body border-top-0">
                                    <h5>Szczegóły</h5>
                                    <p> {{ hour.description }}</p>
                                    {% if hour.rain %}<p><strong>Deszcz:</strong> {{ hour.rain }} mm</p>{% endif %}
                                    {% if hour.snow %}<p><strong>Śnieg:</strong> {{ hour.snow }} mm</p>{% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    {% endif %}
                    <div class="row">
                        <h2>Przyszłe dni</h2>
                    {% for day in forecast[i][1:] %}
                        <div class="col-12 col-lg-3 mb-4">
                            <div class="card" data-bs-toggle="collapse" data-bs-target="#forecast{{i}}{{ loop.index }}" aria-expanded="false" aria-controls="forecast{{ loop.index }}">
                                <div class="card-body text-center">
                                    <h5 class="card-title">{{ day.date[8:10] }}{{ day.date[4:7] }}</h5>
                                    <img src="http://openweathermap.org/img/wn/{{ day.icon }}@2x.png" alt="Weather icon">
                                    <p>{{day.max_temp}}&degC\{{day.min_temp}}&degC</p>
                                </div>
                            </div>
                            <div class="collapse" id="forecast{{i}}{{ loop.index }}">
                                <div class="card card-body border-top-0">
                                    <h5>Szczegóły</h5>
                                    <p> {{ day.description }}</p>
                                    <p><strong>Wilgotność:</strong> {{ day.humidity }}%</p>
                                    <p><strong>Ciśnienie:</strong> {{ day.pressure }} hPa</p>
                                    {% if day.rain %}<p><strong>Deszcz:</strong> {{ day.rain }} mm</p>{% endif %}
                                    {% if day.snow %}<p><strong>Śnieg:</strong> {{ day.snow }} mm</p>{% endif %}
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
            {% endif %}
            
        </div>
        {% endfor %}

    </div>

</body>
</html>

{% endblock %}