{% extends "base.html" %} {% block title %}Strona Główna{% endblock %} {% import
"bootstrap/utils.html" as utils %} {% block main %}
<div
  class="container-l d-flex flex-column justify-content-start align-items-center"
  style="flex: 1; padding: 1rem 0"
>
  <div class="row row-main row-cols-1 row-cols-md-2 g-4 text-center w-100">
    <div class="col">
      <div class="card h-100">
        <div class="card-body card-main">
          <iframe src="/news/news_preview" frameborder="0"></iframe>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body card-main">
          <iframe src="/weather/widget" frameborder="0"></iframe>
          <a href="/news" class="btn btn-primary button-link"
            >Zobacz więcej...</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row row-main row-cols-1 row-cols-md-3 g-4 text-center w-100 mt-1">
    <div class="col">
      <div class="card h-100">
        <div class="card-body card-main">
          <iframe src="/economy" frameborder="0"></iframe>
          <a href="/news" class="btn btn-primary button-link"
            >Zobacz więcej...</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body card-main">
          <iframe src="/weather/widget" frameborder="0"></iframe>
          <a href="/news" class="btn btn-primary button-link"
            >Zobacz więcej...</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body card-main">
          <iframe src="/sport" frameborder="0"></iframe>
          <a href="/news" class="btn btn-primary button-link"
            >Zobacz więcej...</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
