{% extends "base.html" %} {% block title %}Crime News{% endblock %}{% import
  "bootstrap/utils.html" as utils %}{% block header %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/news.css') }}"
    />

    <script>
      function openModal(imageSrc) {
        const modal = document.getElementById("image-modal");
        const modalImage = document.getElementById("modal-image");
        modalImage.src = imageSrc;
        modal.style.display = "flex";
      }
    
      function closeModal() {
        const modal = document.getElementById("image-modal");
        modal.style.display = "none";
      }
    </script>

    
    {% endblock %} {%block main %}
    <div class="container mt-4">
      <h2 class="mb-4">Crime News for Krakow</h2>
      {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
      {% else %}
      
        <table class="table table-striped">
          <tbody>
            {% for article in articles %}
            <tr>
              <td>
                <img
                  src="{{article.image_url}}" 
                  referrerpolicy="no-referrer"
                  alt="Image"
                  class="article-image"
                  onclick="openModal('{{ article.image_url }}')"
                />
                <br>
                <span class="data">Publication date: {{article.publication_date.strftime('%d.%m.%Y')}}</span>
                <br>
                <span class="source">Source: policja.pl</span>
              </td>
              <td>
                <strong>
                  <a href={{article.article_link}}>
                  {{ article.title }}
                  </a>
                </strong>
                <br>
                {{ article.summary }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      
      {% endif %}
    </div>

    <a href="{{ url_for('main_bp.main') }}" class="btn btn-primary back-button">Back</a>


    <div
      id="image-modal"
      class="modal-overlay"
      style="display: none"
      onclick="closeModal()"
    >
      <img id="modal-image" class="modal-image" alt="Enlarged photo" />
    </div>
    {% endblock %}