{% extends "base.html" %} 

{% block title %}Wiadomości kryminalne{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}"/>

    <script>
      function openModal(imageSrc) {
        const modal = document.getElementById("image-modal");
        const modalImage = document.getElementById("modal-image");
        modalImage.src = imageSrc;
        modal.style.display = "flex";
      }
    
      function closeModal() {
        const modal = document.getElementById("image-modal");
        modal.style.display = "none";
      }
    </script>

    
    {% endblock %} {%block main %}
    <div class="container mt-4">
      <h1 class="text-center mb-4">Wiadomości kryminalne dla Krakowa</h1>
      {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
      {% else %}
      
        <table class="table table-striped">
          <tbody>
            {% for article in articles %}
            <tr>
              <td class="image-cell">
                <img
                  src="{{article.image_url}}" 
                  referrerpolicy="no-referrer"
                  alt="Zdjęcie"
                  class="article-image"
                  onclick="openModal('{{ article.image_url }}')"
                />
              </td>
              <td class="summary">
                <strong>
                  <a href="{{ url_for('news_bp.single_news', news_id=article.id) }}">
                  {{ article.title }}
                  </a>
                </strong>
                <br>
                {{ article.summary }}
                <br>
                <br>
                <span class="data">Data publikacji: {{article.publication_date.strftime('%d.%m.%Y')}}</span>
                <span class="source">Źródło: policja.pl</span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <nav aria-label="Page navigation" class='pagination-container'>
          <ul class="pagination">
              <li class="page-item {% if articles.page == 1 %}disabled{% endif %}">
                  <a class="page-link" href="{{ url_for('news_bp.news_home') }}?page=1">Pierwsza</a>
              </li>
              <li class="page-item {% if articles.page == 1 %}disabled{% endif %}">
                  <a class="page-link" href="{{ url_for('news_bp.news_home') }}?page={{ articles.page - 1 }}">Poprzednia</a>
              </li>
              <li class="page-item {% if articles.page == articles.pages %}disabled{% endif %}">
                  <a class="page-link" href="{{ url_for('news_bp.news_home') }}?page={{ articles.page + 1 }}">Następna</a>
              </li>
              <li class="page-item {% if articles.page == articles.pages %}disabled{% endif %}">
                  <a class="page-link" href="{{ url_for('news_bp.news_home') }}?page={{ articles.pages }}">Ostatnia</a>
              </li>
          </ul>
      </nav>

      {% endif %}
    </div>

    <a href="{{ url_for('main_bp.main') }}" class="btn btn-primary sticky-back-button">Powrót</a>
    <div
      id="image-modal"
      class="modal-overlay"
      style="display: none"
      onclick="closeModal()"
    >

      <img id="modal-image" class="modal-image" alt="Powiększone zdjęcie" />
    </div>
    
    {% endblock %}
