{% extends "base.html" %} {% block title %}Economy{% endblock %} {% import
    "bootstrap/utils.html" as utils %}
    {% block header %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
      .sticky-back-button {
        position: fixed;
        bottom: 20px;
        left: 20px;
        font-size: 18px;
        z-index: 3;
      }
    </style>
    {% endblock %}
     {% block main%}
    <div class="container ">
      <h1 class="text-center mb-4">Ekonomia</h1>
      
      <form method="POST" action="/economy">
        {{ form.csrf_token }}
        <div class="form-row d-flex">
          <div class="form-group col-6">
            {{ form.startdate.label }}
            {{ form.startdate(class='form-control') }}

          </div>
          <div class="form-group col-6">
            {{ form.todate.label }}
            {{ form.todate(class='form-control') }}
          </div>
        </div>
        <div class="form-row d-flex">
          <div class="form-group col-4">{{ form.currency1(class='form-control') }}</div>
          <div class="form-group col-4">{{ form.currency2(class='form-control') }}</div>
          <div class="form-group col-4">{{ form.currency3(class='form-control') }}</div>
        </div>
        <div class="">
          <div class="form-group">{{ form.submit(class='form-control btn-dark btn') }}</div>
        </div>
      </form>
      {% with messages = get_flashed_messages() %}
        {% if messages %}

          {% for message in messages %}
            <div class="alert alert-danger" role="alert" onclick="this.remove()">
            
              {{ message }}
            </div>
          {% endfor %}

        {% endif %}
      {% endwith %}
      <div id="chart">{{ graph|safe }}</div>
    </div>
    <a href="{{ url_for('main_bp.main') }}" class="btn btn-primary sticky-back-button">Powrót</a>
    {% endblock %}